# Rename this file to .env

SECRET_KEY = # YOUR GENERATED SECRET KEY

SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_USER = # YOUR GMAIL ADDRESS
SMTP_PASS = # YOUR GMAIL APP PASSWORD

FORMSPREE_URL = # YOUR FORMSPREE FORM URL

OPENAI_API_KEY = # YOUR OPENAI API KEY
