# Project specific folders
.vscode/
.venv/
demonstration/

# Python internal folders and files
__pycache__/
*.py[cod]
*$py.class

# Secret files
*.env

# System files
.DS_Store
Thumbs.db

# Log files
*.log
